@use "./variables" as *;

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin tablet-landscape {
  @media screen and (min-width: $tablet-landscape-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin desktop-big {
  @media screen and (min-width: $big-desktop-breakpoint) {
    @content;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@mixin flex-box(
  $justify-content: none,
  $align-items: none,
  $wrap: nowrap,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
  flex-direction: $flex-direction;
}

@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
