$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//-----Colors-----
$primary-white: #ecf7ee;
$primary-black: #080e0c;

$darkest-green: #121f05;
$dark-forest-green: #242e25;
$mid-forest-green: #334a38;
$green: #376336;
$light-green: #508d4e;
$dark-turquoise: #13443a;
