@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.numbers {
  @include flex-box(
    $flex-direction: column,
    $align-items: center,
    $justify-content: center
  );

  background-color: rgb(1, 14, 5);
  color: $primary-white;
  &__video {
    width: 350px;
    border-radius: 50px;
    border: $primary-white 3px solid;
    box-shadow: 1rem 1rem 1rem 1rem rgba(248, 248, 248, 0.019),
      0.25rem 0.5rem 0.25rem 0.25rem rgba(255, 255, 255, 0.127);
    margin-bottom: 4.5rem;
  }
}
.numbers-hero {
  border-bottom: $primary-white 3px solid;

  background-image: linear-gradient(rgb(3, 3, 3, 0.5), rgba(32, 32, 32, 0.1)),
    url("../../assets/images/underwater.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 200px;
  display: flex;
  @include flex-box(
    $flex-direction: column,
    $align-items: center,
    $justify-content: center
  );
  color: $primary-white;
  &__header {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  &__subheader {
    font-size: 2.5rem;
  }
}
