.main {
  &__hero {
    background-image: url("../../assets/images/statimc-with-kaya-title.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 280px;
  }
}
