@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.back-icon {
  padding: 1.25px;
  background-color: $dark-turquoise;
  border-radius: 50px;
  @include desktop {
    padding: 0;
  }

  &:active {
    transform: translateY(2px) translateX(2px);
    background-color: $primary-white;
  }
}
