@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.directory {
  background-color: $darkest-green;
  @include flex-center($direction: column);
  &__button {
    color: $primary-black;
    width: 90vw;
    margin: 1rem 0;
    border: $dark-turquoise solid 4px;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: $primary-white;
  }
}
