@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  background-color: green;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  @include reset;
}
