@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing {
  background: linear-gradient(rgb(3, 3, 3, 0.5), rgba(32, 32, 32, 0.1)),
    url("../../assets/images/underwater.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: $primary-white;

  &__anim {
    width: 80%;
    @include tablet {
      width: 500px;
    }
    @include desktop {
      display: none;
    }
  }

  &__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      height: 300px;
    }
    @include desktop {
      height: 10px;
    }
  }
  &__header {
    font-size: 2rem;
    position: relative;
    top: -2rem;
    color: $primary-white;
    @include tablet {
      font-size: 4rem;
    }
    @include desktop {
      top: 6rem;
      font-size: 8rem;
    }
  }
  &__button {
    padding: 5px 30px;
    margin-bottom: 1rem;
    border: 2px solid #334a38;
    color: $primary-white;
    background-color: $darkest-green;
    -webkit-text-stroke: 0.5px rgb(5, 12, 12);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;
    animation: buttonPop 1.5s ease-out forwards;
    @include tablet {
      padding: 20px 100px;
      font-size: 1.5rem;
      margin: 5rem 0;
    }
    @include desktop {
      margin: 20rem 0 5rem 0;
      font-size: 3rem;
    }
  }
  &__button::before {
    content: "";
    background: linear-gradient(
      45deg,
      $primary-black,
      $dark-forest-green,
      $mid-forest-green,
      $light-green,
      $green,
      $dark-turquoise,
      $mid-forest-green,
      $darkest-green
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 1000%;
    z-index: -1;
    width: calc(100% + 8px);
    height: calc(100% + 5px);
    filter: blur(10px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
    opacity: 1;
  }
  &__intro-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  &__text {
    font-size: 1.5rem;
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 3rem;
      margin-top: 1rem;
    }
    &::before {
      content: "K̓alhwá7acw Kaya nskwátsitsa!";
      animation: words 5s infinite;
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 8px);
      right: 8px;
      animation: typing 5s steps(14) infinite;
    }
  }
  &__image {
    width: 200px;
    animation: moveUpDown 2s ease-in-out;
    @include tablet {
      width: 300px;
    }
    @include desktop {
      width: 300px;
      position: relative;
    }
  }
  &__footer {
    margin-top: auto;
    width: 100%;
  }
  &__body {
    font-size: 1rem;
    padding: 0.5rem 0;
    background-color: $primary-black;
    width: 100vw;
    @include tablet {
      font-size: 1.5rem;
      padding: 1rem 0;
    }

    @include desktop {
      font-size: 2rem;
      padding: 4rem 0;
    }
  }
}

@keyframes buttonPop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 150% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(2px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes words {
  0%,
  50% {
    content: "K̓alhwá7acw Kaya nskwátsitsa!";
  }
  51%,
  100% {
    content: "Hello, my name is Kaya!";
  }
}
