@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing {
  background: linear-gradient(rgb(3, 3, 3, 0.5), rgba(32, 32, 32, 0.1)),
    url("../../assets/images/underwater.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: $primary-white;

  &__anim {
    width: 80%;
    @include tablet {
      width: 31.25rem;
    }
    @include desktop {
      display: none;
    }
  }

  &__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      height: 18.75rem;
    }
    @include desktop {
      height: 0.625rem;
    }
  }
  &__header {
    font-size: 2rem;
    position: relative;
    top: -2rem;
    color: $primary-white;
    @include tablet {
      font-size: 4rem;
    }
    @include desktop {
      top: 6rem;
      font-size: 8rem;
    }
  }
  &__button {
    @include glow-button;
    color: white;
    border: $green 2px solid;
    background-color: $green;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    margin: 2.5rem 0;
    font-family: "nunito";
    @include mobile {
      font-size: 1.5rem;
    }
    @include tablet {
      font-size: 2rem;
      margin-top: rem;
    }
    @include desktop {
      font-size: 3.5rem;
      padding: 2rem 4rem;
      border-radius: 10rem;
      margin-top: 20rem;
    }
  }

  &__intro-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  &__text {
    font-size: 1.5rem;
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 3rem;
      margin-top: 1rem;
    }
    &::before {
      content: "K̓alhwá7acw Kaya nskwátsitsa!";
      animation: words 5s infinite;
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 8px);
      right: 0.5rem;
    }
  }
  &__text-special {
    margin-top: 1.3rem;
  }
  &__image {
    width: 12.5rem;
    animation: moveUpDown 2s ease-in-out;
    @include tablet {
      width: 18.75rem;
    }
  }
  &__footer {
    margin-top: auto;
    width: 100%;
  }
  &__body {
    font-size: 1rem;
    padding: 0.5rem 0;
    background-color: $primary-black;
    width: 100vw;
    @include tablet {
      font-size: 1.5rem;
      padding: 1rem 0;
    }

    @include desktop {
      font-size: 2rem;
      padding: 4rem 0;
    }
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(62.5rem);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.125rem);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes words {
  0%,
  50% {
    content: "K̓alhwá7acw Kaya nskwátsitsa!";
  }
  51%,
  100% {
    content: "Hello, my name is Kaya!";
  }
}
