@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.lessons {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40rem;
  text-align: center;
  &__title {
    color: $primary-white;
  }
  &__button {
    @include glow-button;
    color: $primary-white;
    -webkit-text-stroke: 0.04rem rgb(0, 0, 0);
    font-size: 1rem;
    border: $dark-forest-green solid 0.2rem;
    border-radius: 2.5rem;
    padding: 1rem 3rem;
    background-color: $primary-black;
    margin: 2rem 0;
    @include tablet {
      margin: 0 0 2rem 0;
      font-size: 2rem;
    }
    @include tablet-landscape {
      font-size: 1rem;
      padding: 0.5rem 2rem;
    }
    @include desktop {
      font-size: 2rem;
      padding: 0.75rem 4rem;
      border-radius: 2.5rem;
    }
    &:active {
      transform: translateY(0.1875rem) translateX(0.1875rem);
    }
  }
  &__body {
    color: $primary-white;
    font-size: 0.75rem;
    padding: 1rem 0 0 0;
    @include tablet {
      font-size: 1rem;
      padding: 2rem 0;
    }
    @include desktop {
      font-size: 2rem;
      // margin: 1rem;
    }
  }
}

a {
  text-decoration: none !important;
}
